@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --skillsize: 15vh;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: fixed;
    overflow-x: hidden;
    text-align: left;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#profilep{
    width: 8vh;
    height: 8vh;
    display: inline-block;
    border-radius: 1vh;
    position: relative;
    top: 1vh;
}
nav{
    display: block;
    background-color: #2811f1;
    padding: 1vh;
    /*border-radius: 1vh;*/
}
nav>p{
    display: inline-block;
    position: absolute;
    font-family: Exo, Arial, Helvetica, sans-serif;
    left: 6.5vh;
    font-weight: bold;
}
main{
    background-image: url('image/background004.jpg');
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}
.socialmedias{
    width: 3vh;
    height: 3vh;
    border-radius: 0.5vh;
    position: absolute;
}
#linkedin{
    right: 3vh;
    top: 3vh
}
#download{
    right: 7vh;
    top: 3vh;
}
.secao2{
    font-family: Exo, Arial, Helvetica, sans-serif;
}
.skillimg{
    position: relative;
    max-height: 10vh;
    max-width: 10vh;
    top: 10%;
    display: block;
    margin: auto;
}
.expanded{
    position: absolute;
    transition-duration: 1.5s;
    background-color: white;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.452);
    width: 60vh;
    height: 37vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vh;
}
#marker{
    background-image: url("https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff00");
}
.hiddenGreyBackground{
    display: none;
}
.showGreyBackground{
    display: block;
}
.hiddenCloseButton{
    width: 5vh;
    height: 5vh;
    position: relative;
    left: 90%;
    bottom: 30%;
    display: none;
}
.ShowedCloseButton{
    width: 5vh;
    height: 5vh;
    position: relative;
    left: 90%;
    bottom: 30%;
    display: inline-block;
    cursor: pointer;
}
.hiddenParagraph{
    top: -20%;
    display: none;
}
.showParagraph{
    display: inline;
    padding: 10%;
}
.contractedHtml{
    position: absolute;
    background-color: white;
    width: var(--skillsize);
    height: var(--skillsize);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.452);
    left: 10%;
    top: 80%;
    cursor: pointer;
}
.expandedToContractedHtml{
    position: absolute;
    transition-duration: 1.5s;
    background-color: white;
    width: var(--skillsize);
    height: var(--skillsize);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.452);
    left: 10%;
    top: 80%;
}
.expandedToContractedCss{
    position: absolute;
    transition-duration: 1.5s;
    background-color: white;
    width: var(--skillsize);
    height: var(--skillsize);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.452);
    left: 45%;
    top: 80%;
}
.contractedCss{
    position: absolute;
    background-color: white;
    width: var(--skillsize);
    height: var(--skillsize);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.452);
    left: 45%;
    top: 80%;
    cursor: pointer;
}
.contractedJavascript{
    position: absolute;
    background-color: white;
    width: var(--skillsize);
    height: var(--skillsize);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.452);
    left: 85%;
    top: 80%;
    cursor: pointer;
}
.expandedToContractedJavascript{
    position: absolute;
    transition-duration: 1.5s;
    background-color: white;
    width: var(--skillsize);
    height: var(--skillsize);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.452);
    left: 85%;
    top: 80%;
}
#maintitle{
    position: relative;
    color: #bf81ff;
    font-family: Exo, Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    margin: 0;
    top: 10vh;
}
#introduction{
    position: relative;
    color: #bf81ff;
    font-size: 2.5em;
    font-family: Karla, Arial, Helvetica, sans-serif;
    text-align: center;
    top: 10vh;
}
#skills{
    position: relative;
    color: #bf81ff;
    font-family: Exo, Arial, Helvetica, sans-serif;
    top: 15vh;
    font-size: 3em;
    left: 10vh;
    word-wrap: break-word;
    white-space: normal;
}
@media (max-width: 4in){
    #maintitle{
        font-size: 1.5em;
    }
    #introduction{
        font-size: 0.6em;
    }
    #skills{
        font-size: 0.75vh;
        left: 2.5vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 1.5vh;
        height: 1.5vh;
        top: 20%;
    }
    .skillimg{
        max-width: 2.5vh;
        max-height: 2.5vh;
    }
    .expanded{
        width: 45vh;
        height: 17vh;
    }
    .showParagraph{
        font-size: 0.5em;
        color: black
}
}
@media (max-width: 7in) and (min-width: 4.01in){
    #maintitle{
        font-size: 2.5em;
    }
    #introduction{
        font-size: 1em;
    }
    #skills{
        font-size: 1.25em;
        left: 4vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 6.25vh;
        height: 6.25vh;
        top: 60%;
    }
    .skillimg{
        max-width: 4.1vh;
        max-height: 4.1vh;
    }
    .expanded{
        width: 50vh;
        height: 17vh;
    }
    .showParagraph{
        font-size: 0.6em;
        color: black;
    }
}
@media (max-width: 10in) and (min-width: 7.01in){
    #maintitle{
        font-size: 3.7em;
    }
    #introduction{
        font-size: 1.5em;
    }
    #skills{
        font-size: 1.8em;
        left: 6vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 9.2vh;
        height: 9.2vh;
        top: 70%;
    }
    .skillimg{
        max-width: 6.1vh;
        max-height: 6.1vh;
    }
    .expanded{
        width: 50vh;
        height: 27vh;
    }
}
@media (max-width: 13in) and (min-width: 10.01in){
    #maintitle{
        font-size: 4.8em;
    }
    #introduction{
        font-size: 2em;
    }
    #skills{
        font-size: 2.4em;
        left: 8vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 12vh;
        height: 12vh;
        top: 75%;
    }
    .skillimg{
        max-width: 8vh;
        max-height: 8vh;
    }
    .expanded{
        width: 48vh;
        height: 29.5vh;
    }
}
@media (max-width: 16in) and (min-width: 13.01in){
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 19in) and (min-width: 16.01in){
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 21in) and (min-width: 19.01in){
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 24in) and (min-width: 22.01in) {
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 27in) and (min-width: 25.01in) {
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 30in) and (min-width: 28.01in) {
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 40in) and (min-width: 30.01in) {
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
@media (max-width: 50in) and (min-width: 40.01in) {
    #maintitle{
        font-size: 6em;
    }
    #introduction{
        font-size: 2.5em;
    }
    #skills{
        font-size: 3em;
        left: 10vh;
    }
    .contractedHtml, .contractedCss, .contractedJavascript, .expandedToContractedCss, .expandedToContractedHtml, .expandedToContractedJavascript{
        width: 15vh;
        height: 15vh;
        top: 90%;
    }
    .skillimg{
        max-width: 10vh;
        max-height: 10vh;
    }
    .expanded{
        width: 60vh;
        height: 37vh;
    }
    .showParagraph{
        position: relative;
        top: 10%;
        font-size: 1.1em;
    }
}
