@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
#profilep{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 15px;
}
nav{
    background-color: #2811f1;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    height: 80px;
}
nav>p{
    display: inline-block;
    position: absolute;
    font-family: Exo, Arial, Helvetica, sans-serif;
    left: 65px;
    font-weight: bold;
}
body{
    height: 100vh;
    background-image: url('image/cosmic-environment-with-colorful-neon-laser-lights-perfect-digital-wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: fixed;
}
.socialmedias{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
}
h1{
    position: absolute;
}
body>h1{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #bf81ff;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Exo, Arial, Helvetica, sans-serif;
}
body>p{
    position: absolute;
    top: 35%;
    left: 31%;
    color: #bf81ff;
    text-align: center;
    font-size: 25px;
    font-family: Karla, Arial, Helvetica, sans-serif;
}
#linkedin{
    right: 30px;
    top: 25px
}
#download{
    right: 70px;
    top: 25px;
}
#html{
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 55vh;
    margin-left: 10%;
    display: inline-block;
}
.skillimg{
    width: 100px;
    height: 100px;
}
